.title {
    font-size: 30;
    horizontal-align: center;
    margin:20;
}


.task-label{
    font-size: 30;
    color: green;
    horizontal-align: center;
    vertical-align: center;
}

.answer {
    font-size: 28;
    margin: 5;
}